html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

body nav {
  padding: 0 16px !important;
  width: 100%;
  top: 0;
  border-radius: 0px;
  background-image: linear-gradient(
    to top,
    #ffbfbf,
    #ff9c98,
    #ff776e,
    #ff4e40,
    #ff0000
  );
  box-shadow: -16px 16px 32px #e6e6e6, 16px -16px 32px #ffffff;
}

/*===============

                                                              NAVBAR START
                                                              
                                                              =============== */

.navbar-toggler {
  padding: 0 !important;
}

.nav-item .nav-link {
  font-size: 18px;
  color: rgb(255, 255, 255) !important;
}

.nav-item .nav-link:hover {
  color: rgb(180, 4, 4) !important;
}

.navLogo {
  width: 50px;
  height: 50px;
  display: block;
}

.navbar-nav li {
  padding: 0 20px;
}

/*===============

                                                              NAVBAR END
                                                              
                                                              =============== */

.eventSection {
  margin-top: 10vh;
}

#myBtn {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(255, 55, 55);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: rgba(109, 0, 0, 0.979);
}
h1 {
  padding-top: 20px;
  font-size: 50px;
  margin-top: 0;
  font-family: "Alata", sans-serif;
  text-align: center;
}

.underline {
  font-weight: 700;
  color: black;
  text-decoration: none !important;
  position: relative;
}

.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
  background: black;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.underline:hover:after {
  transition: all 1s;
  width: 80%;
  background: rgb(211, 26, 34);
}

.underline:hover {
  transition: ease all 1s;
  color: rgb(180, 4, 4);
}

.card-body {
  text-align: center;
}

.eventSection h1 {
  margin-top: 50px;
  margin-bottom: 100px;
}

.eventSection img:hover {
  opacity: 0.8;
  transition: ease all 0.4s;
}

.eventSection .row .col .card {
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #ffa2a2, -5px -5px 10px #ffb9b9;
  border: 4px solid rgba(255, 0, 0, 0.404);
}
.eventSection .row .col .card-body {
  color: #161afa;
}

.shortFlimModal {
  width: 100%;
  height: auto;
}
/*===============
  
                                                                FOOTER START
                                                                
                                                                =============== */

footer {
  border-radius: 0px;
  background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #f9f3ff,
    #f7e6fd,
    #fad8f7,
    #ffc9ec
  );
  font-family: "Poppins", sans-serif;

  box-shadow: 5px 5px 10px #afa0b0, -5px -5px 10px #ffffff;
}

.footerHead {
  text-align: center;
  color: rgba(0, 0, 0, 0.863);
  font-weight: 600;
  margin-bottom: 5vh !important;
}

.footerRow .col h5 {
  font-weight: 900;
}

svg {
  width: 40px;
  height: 40px;
  padding-right: 20px;
}

.footerRow a {
  text-decoration: none !important;
  color: black;
}
.footerRow a:hover {
  color: red;
}

input,
textarea {
  font-size: 16px;
  border: 1px solid rgb(255, 42, 42) !important;
  padding-left: 30px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  border-radius: 20px !important;
}

.inputCol {
  padding-top: 10px;
  padding-left: 30px;
}
.form-control::placeholder {
  color: #ff0000;
  opacity: 0.4;
}

.subjectRow {
  flex-direction: column;
}
.subjectRow .inputCol {
  width: 100%;
}

textarea::placeholder {
  color: #ff0000;
  opacity: 0.4;
}

.footerBtn {
  padding-top: 20px;
}

.footerBtn button {
  padding: 10px;
  border-radius: 20px;
}
.footerRow {
  display: flex;
}

@media only screen and (max-width: 600px) {
  input {
    width: 100%;
  }
}
/*===============
                                                                                                                                                                                                                                                                                                                                                                          FOOTER END
                                                                                                                                                                                                                                                                                                                                                                          =============== */
